<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sonido.example.sonidos1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sonido.example.sonidos1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Mensaje"
            android:label="@string/title_activity_mensaje" >
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Pregunta"
            android:label="@string/title_activity_pregunta" >
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Dos"
            android:label="@string/title_activity_dos" >
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Tres"
            android:label="@string/title_activity_tres" >
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Cuatro"
            android:label="@string/title_activity_cuatro" >
        </activity>
        <activity
            android:name="sonido.example.sonidos1.Uno"
            android:label="@string/title_activity_uno" >
        </activity>
    </application>

</manifest>